/* Add some global styles here! */



:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1ebef  ;
  --light-pink: #e5ccf4;
  --blue-gray: #b7c2c8;
  --purple: #a080e3;
  --dark-purple: #5c509c;
  --deep-purple: #382d72;

  --primary-font: 'Smooch Sans', sans-serif;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.one-line-input{
  background-color: var(--base-bg);
  border: none !important;        
  outline: none !important;           
  box-shadow: none !important;  
  border-radius: 0% !important;
  height: 5vh;
}

.pure-button-primary .pure-button{
  background-color: var(--purple) !important;
}

.primary-button{
  background-color: var(--purple);
  border: none;
  height: 5vh;
  margin: 0%;
  padding-left: 20%;
  padding-right: 20%;

  color: var(--base-bg);
  font-size: 2vh;
  font-family: 'Smooch Sans', sans-serif;
}

.primary-button:hover{
  color: white !important;
  background-color: var(--dark-purple);
}

.pure-button-primary{
  color: white !important;
  background-color: var(--purple) !important;
}

.pure-button{
  color: white !important;
  background-color: var(--purple) !important;
}

.pure-button-primary:hover{
  color: white !important;
  background-color: var(--dark-purple) !important;
}

.pure-button:hover{
  background-color: var(--dark-purple) !important;
}

.ProfilePicture {
  width: 5vw; 
  height: 100%;
  background-size: cover;
  background-position: top center;
  border: 1px solid #ccc; /* Optional: adds a border around the image */
}

.link{
  font-size: 2vh;
  background-color: var(--light-pink);
  color: var(--deep-purple);
  padding: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90,80,96,0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}


/* Modal content style */
.modal-content {
  background-color: white;
  min-width: 30%;
  min-height: 40%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}


.setting-selection{
  background-color: transparent;
  border: none;
  color: var(--dark-purple);
  font-size: 2.5vh;
  padding: 1vh;
  font-weight: 600;
}

.setting-selection:hover{
  background-color: var(--blue-gray);
  width: 100%;
  color: var(--deep-purple);
}

.exit-btn{
  background-color: transparent;
  border:none;
  margin-left: 95%
}

.tool-tip {
  position: relative;
}

.tool-tip .tool-tip-text {
  font-size: 1em;
  visibility: hidden;
  background-color: var(--dark-purple);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  width: 300px;
  bottom: 100%;
  left: 50%;
  margin-left: -150px;
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
}
